<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
  html {
    height: 100%;
  }

  body {
    font-family: Arial;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
  }
  p {
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 0.2em 0;
  }
  a {
    color: white;
  }
  #game {
    margin: auto;
  }

  #canvas {
    background: darkslategray;
  }

  #text {
    font-size: 20px;
  }
  #score {
    font-family: "Courier new", monospace;
    font-size: 24px;
  }
  #score::before{
    content: 'SCORE: ';
    display: inline-block;
  }
  </style>
</head>
<body>

  <div id="game">
    <p id="text">press ENTER to start</p>
    <canvas id="canvas" width="480" height="480"></canvas>
    <p id="score">0</p>
    <p id="instructions">use W, S, A, D to control the snake.</p>
    <p>
      <a href="https://darekgreenly.com">Darek Greenly</a> | <a href="https://github.com/Zielak/snake-game">github repo</a>
    </p>
  </div>

</body>
</html>